body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid black;
  box-sizing: border-box;
}

.App{
  text-align: center;
}
ul{
  list-style: none;
}
nav ul li{
  display: inline;
  padding:15px;
  margin:5px;
}
.book_list{
  padding:15px;
  margin:15px;
}
.book_list ul li{
  padding: 10px;
}